# Imports and Loading CSV

In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [4]:
df = pd.read_csv("EPL_Set.csv")
df_by_date = df.sort_values("Date", ascending=False)
display(df_by_date)

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Season
9317,E0,9/9/2017,Leicester,Chelsea,1,2,A,0.0,1.0,A,2017-18
9314,E0,9/9/2017,Arsenal,Bournemouth,3,0,H,2.0,0.0,H,2017-18
9320,E0,9/9/2017,Stoke,Man United,2,2,D,1.0,1.0,D,2017-18
9319,E0,9/9/2017,Southampton,Watford,0,2,A,0.0,1.0,A,2017-18
9318,E0,9/9/2017,Man City,Liverpool,5,0,H,2.0,0.0,H,2017-18
...,...,...,...,...,...,...,...,...,...,...,...
249,E0,1/1/1994,Man United,Leeds,0,0,D,NaN,NaN,NaN,1993-94
248,E0,1/1/1994,Ipswich,Liverpool,1,2,A,NaN,NaN,NaN,1993-94
247,E0,1/1/1994,Everton,West Ham,0,1,A,NaN,NaN,NaN,1993-94
246,E0,1/1/1994,Aston Villa,Blackburn,0,1,A,NaN,NaN,NaN,1993-94
252,E0,1/1/1994,Sheffield United,Oldham,2,1,H,NaN,NaN,NaN,1993-94

# Get the 3 most recent seasons

In [12]:
ngames = 38
nclubs = 20
nyears = 3
total = ngames * nclubs * nyears / 2 # total games over 3 seasons

df_top3 = df.loc[9317-total:9317,]

print(df_top3.shape)
display(df_top3)

(1141, 11)

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Season
8177,E0,13/09/14,Liverpool,Aston Villa,0,1,A,0.0,1.0,A,2014-15
8178,E0,13/09/14,Southampton,Newcastle,4,0,H,2.0,0.0,H,2014-15
8179,E0,13/09/14,Stoke,Leicester,0,1,A,0.0,0.0,D,2014-15
8180,E0,13/09/14,Sunderland,Tottenham,2,2,D,1.0,1.0,D,2014-15
8181,E0,13/09/14,West Brom,Everton,0,2,A,0.0,1.0,A,2014-15
...,...,...,...,...,...,...,...,...,...,...,...
9313,E0,27/08/17,West Brom,Stoke,1,1,D,0.0,0.0,D,2017-18
9314,E0,9/9/2017,Arsenal,Bournemouth,3,0,H,2.0,0.0,H,2017-18
9315,E0,9/9/2017,Brighton,West Brom,3,1,H,1.0,0.0,H,2017-18
9316,E0,9/9/2017,Everton,Tottenham,0,3,A,0.0,2.0,A,2017-18
9317,E0,9/9/2017,Leicester,Chelsea,1,2,A,0.0,1.0,A,2017-18